// ===== General styles

.btn {
    -fx-background-color: #2276FF;
    -fx-background-radius: 50;
    -fx-padding: 5px 20px;
    -fx-content-display: center;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-background-color: #22AFFF;
    -fx-text-fill: #333333;
}

.input-field {
    -fx-background-color: #FFF;
    -fx-background-radius: 50;
    -fx-border-color: #333333;
    -fx-border-radius: 50;
    -fx-padding: 5px 20px;
}

// ===== Dashboard menu styles

#mainBody {
    -fx-background-color: #FFF;
}

.brand {
    -fx-background-color: #ff9900;
}

.top-menu {
    -fx-background-color: #fff;
}

.topmenu-btn {
    -fx-background-color: transparent;
}

.topmenu-btn:hover {
    -fx-background-color: #f1f1f1;
}

.sidebar {
    -fx-background-color: #333333;
}

.sidebar-btn {
    -fx-background-color: transparent;
}

.sidebar-btn:hover {
    -fx-background-color: #666666;
}

// ===== Dashboard view styles

.counter-clients {
    -fx-background-color: #99cc66;
    -fx-background-radius: 10;
}

.counter-orders {
    -fx-background-color: #ffcc00;
    -fx-background-radius: 10;
}

.counter-income {
    -fx-background-color: #ff3333;
    -fx-background-radius: 10;
}